*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{

    text-align: center;
    background-color: azure;
    padding:69px;
    border-radius: 10px;
    box-shadow: 20px 20px 50px burlywood , -20px -20px 50px burlywood;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 5px;
}

.display{
    font-size: 60px;
    font-weight: bold;
    padding: 1px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: beige;
    border-radius: 10px;

}

button{
    font-size: 25px;
    padding: 10px 20px ;
    margin: 10px;
    border-radius: 10px;
    border:none;
    background-color: beige;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover{
    transition: translate(5px,5px);
}

.start{
    background-color: yellowgreen;
    color: beige;
    /* color */
}
.stop{
    background-color: red;
    color: beige;
}

.reset{
    background-color: coral;
    color: beige;
}
